#note-details {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 0.4rem 0.5rem;
  text-align: center;
  color: var(--color-primary-50);
  background-color: var(--color-primary-800);
  border-radius: 24px;
  animation: fade-slide-in 1s ease-out forwards;
}

#note-details nav {
  margin: 1rem 0 2rem 0;
}

#note-details header a {
  color: var(--color-primary-300);
  text-decoration: none;
  padding: 0.5rem;
}

#note-details header a:hover {
  color: var(--color-primary-500);
}

#note-details-content {
  color: var(--color-primary-200);
  font-size: 1.15rem;
  white-space: pre-wrap;
}
